export GITHUB_CLIENT_ID=7b5815add92c64a075e5
export GITHUB_CLIENT_SECRET=ba16a4c8b87981806ee61b16405e85be8ae8a0ab

export GITHUB_ID=47938002
export ACCESS_TOKEN_SECRET=4ajnpOe4irknNjdrek9ir3mfFhe
export REFRESH_TOKEN_SECRET=ok54J34PKekjiwnbpIioqnps5Oebn